.creditCard {
    list-style-type: none;
}

body{
    font-family: Arial, sans-serif;
    line-height: 1;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block; 
    margin-bottom: 5px;     
}

footer{
    color: #000c00;
    font-style: italic;
    font-size: 12px;
    margin-top: -10px;
    margin-left: 65px;
}

button {
    background-color: #007bff; 
    color: white; 
    border: none;
    padding: 10px 30px; 
    cursor: pointer; 
    position: relative;
    bottom: 1px;
    left: 35px;
    margin-bottom: 30px;
}